*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width:100%;
	height:100vh;
	background-color: white;
	
}

.container a{
	text-decoration:none;
	color:black;
	
}
.container li{
	list-style: none;
}
.container .Am_wrap{
	width:68%;
	height:40px;
	margin:0 auto;
	text-align:right;
	font-size: 15px;
	

}
.container .Am_wrap a{
	text-decoration:none;
	color:black;
	margin:0 10px;
	text-align:center;
	position:relative;
	top:10px;
	
}
.Am_nav{
	width:100%;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:white;
	padding:10px 17%;

}
.Am_nav_logo{
	font-size:28px;
	font-weight:bold;
	
}
.Am_nav_menu{

	display:flex;
	list-style:none;
	padding-left: 0;
}
.Am_nav_menu > li {
	font-size: 20px;
	font-weight: bold;
	padding: 8px 40px;
	background-color: white;

}

.Am_nav_menu >li:hover{
	background-color: white;
	border-radius: 15px;
	}
	

.nav_Btn{
	position: absolute;
	right:12%;
}


#check_box {
	display: none;
  }
  
  #check_box + label {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 2;
  }
  
  #check_box + label > span {
	position: absolute;
	display: block;
	width: 100%;
	height: 5px;
	background: black;
	border-radius: 5px;
	transition: all 300ms;
  }
  
  #check_box:checked + label > span:nth-child(1) {
	top: 50%;
	transform: translate(0, -50%);
	transform: rotate(45deg);
  }
  
  #check_box + label > span:nth-child(2) {
	top: 50%;
	transform: translate(0, -50%);
  }
  
  #check_box:checked + label > span:nth-child(2) {
	opacity: 0;
  }
  
  #check_box + label > span:nth-child(3) {
	bottom: 0;
  }
  
  #check_box:checked + label > span:nth-child(3) {
	top: 50%;
	transform: translate(0, -50%);
	transform: rotate(-45deg);
  }
  
  #side_menu {
	position: absolute;
	margin-top:5.5%;
	top:0;
	width: 100%;
	height: 65%;
	background-color: tomato;
	left: -100%;
	transition: all 300ms;
	z-index: 1;
	padding: 60px 20px 20px 20px;
	box-sizing: border-box;
	border-top: solid 3px black;
  }
  
  #check_box:checked + label + #side_menu {
	left:0;
  }
  
  @media screen and (max-width: 1500px) {
	.Am_wrap {
		display: none;
	}
	.Am_nav .Am_nav_logo {
		position: fixed;
		height: 5%;
		flex-direction: column;
		align-items: flex-start;
	}
	.Am_nav_menu {
		display: none;
	}
	#check_box + label {
		position: relative;
		left:100%;
		display: block;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 2;
	}
	#side_menu {
		position: fixed;
		margin-top: 10%;
		width: 100%;
		height: 70%;
	}
}

	
	





[name="slide"] {display:none;}
.slidebox {max-width:1920px;width:100%;margin:0 auto;text-align:center;}
.slidebox img {max-width:100%;}
.slidebox .slidelist {
	white-space:nowrap;
	font-size:0;
	overflow:hidden;
}
.slidebox .slideitem {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:100%;
	transition:all .15s;
}
.slidebox .slideitem label {
	position:absolute;
	z-index:1;
	top:50%;
	transform:translateY(-50%);
	padding:20px;
	border-radius:30%;
	cursor:pointer;
}
label.left {
	left:80px;
	background-image:url('https://www.t-our.co.kr/images/arrowbutton/left9.svg');
	background-position:center center;

	background-repeat:no-repeat;
}
label.right {
	right:80px;
	background-image:url('https://www.t-our.co.kr/images/arrowbutton/right9.svg');
	background-position:center center;
	background-repeat:no-repeat;
}

/* 페이징 스타일 */
.paginglist {text-align:center;padding:30px 0;}
.paginglist > li {display:inline-block;vertical-align:middle;margin:0 10px;}
.paginglist > li > label {display:block;padding:10px 30px;border-radius:10px;background:#ccc;cursor:pointer;}
.paginglist > li:hover > label {background:#333;}

[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 20s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide03 20s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation:slide04 20s infinite;}

@keyframes slide01 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:-300%;}
	98% {left:-300%;}
	100% {left:0%;}
}
@keyframes slide02 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:-200%;}
	73% {left:-200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
@keyframes slide03 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:-100%;}
	48% {left:-100%;}
	50% {left:200%;}
	73% {left:200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}
@keyframes slide04 {
	0% {left:0%;}
	23% {left:0%;}
	25% {left:300%;}
	48% {left:300%;}
	50% {left:200%;}
	73% {left:200%;}
	75% {left:100%;}
	98% {left:100%;}
	100% {left:0%;}
}