*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width:100%;
	height:100vh;
	background-color:gray;
}

.container .Am_wrap{
	width:80%;
	height:30px;
	margin:0 auto;
	text-align:right;
	background-color:red;
	font-size: 15px;

}
.container .Am_wrap a{
	text-decoration:none;
	color:black;
	margin:0 10px;
	align-items:center;
	
	
}
.container .Am_header{
	width:80%;
	height:80px;
	display:flex;
	justify-content:space-between;
	margin:0 auto;
	background-color:white;
	align-items:center;
	
}
.container .Am_header h1 a{
	text-decoration:none;
	color:black;
	align-items:center;
}
.container .Am_nav ul{
	margin:0 140px;
}
.container .Am_nav ul li{
	display:inline-block;
	margin:0 40px;
	
	
}
.container .Am_nav ul li a{
	text-decoration:none;
	color: black;
	font-size:25px;
}